# Homework 2 (Deadline: Nov 11)

## Name: Nils Huber

# Problem 1: For Loops and conditional statements (3 P)

In this task you will learn to work with different data types, For Loops and the combination of For Loops and If statements. We will start with the object **L** below.

In [7]:
L = (6, -3, -6, 10, 0, -9, 0.5, 2, 0, -7, -9, 5, 0, 0, -6, 0)

**(A)** (1 P) Write a code to sum up every single element from **L** by using a For Loop. What is the type of the result?

In [8]:
a=0
for x in L:
    a+=x
print(f'The sum of all elements in L is: {a} and its type is: {type(a)}, so a float.')

The sum of all elements in L is: -16.5 and its type is: <class 'float'>, so a float.

**(B)** (1 P) We want to work with **L** without the last four elements so that 5 is the last number in our collection. However, before we can do that, we need to modify **L**. 

Before writing the code, answer the following questions:
- What type is **L** currently, and why do we need to change it in order to remove the last four elements?
- Can you recall any built-in Python function from the lecture that allows us to easily convert **L** into an object that can be modified?

Use the built-in function to convert **L** into the new object **M**. In the next step, find a way to represent **M** without the last four elements. 

**(Please do not just write the new object down by hand but find a way to do it in Python)**

In [9]:
print(L,type(L)) #It is a tuple
M=list(L) #Cast into a list
print(M,type(M)) #Now its a list.

###

M=M[:-4] #Only from first to -4th elemnt. (So the 4th-last)
print(M)

(6, -3, -6, 10, 0, -9, 0.5, 2, 0, -7, -9, 5, 0, 0, -6, 0) <class 'tuple'>
[6, -3, -6, 10, 0, -9, 0.5, 2, 0, -7, -9, 5, 0, 0, -6, 0] <class 'list'>
[6, -3, -6, 10, 0, -9, 0.5, 2, 0, -7, -9, 5]

**(C)** (1 P) In this task, we would like to get information about the sign of the values. 

Write a code which counts the number of negative values in **M**.

In [10]:
neg_counter=0

for x in M:
    if x<0:
        neg_counter+=1

print(f'There are {neg_counter} negative numbers in M')

There are 5 negative numbers in M

# Problem 2: Writing in a pythonic way (2 P)

**(A)** (1 P) Create the following lists using Python:

- **Divided by 3**: Create a list `T_0` where each element is the result of dividing the first 30 integers by 3.

- **Squared multiples of 3**: Create a list `T_1` that contains the squares of the first 30 integers, but only keep the numbers which are divisible by 3.
  
- **Even numbers greater than 10**: Create a list `T_2` that contains only the even numbers from the first 30 integers, but only include numbers greater than 10.

In [11]:
T_0=[i/3 for i in range(30)]
T_1=[i**2 for i in range(30) if i%3==0]
T_2=[i for i in range(30) if i%2==0 and i>10]

print(f'{T_0}\n{T_1}\n{T_2}')

[0.0, 0.3333333333333333, 0.6666666666666666, 1.0, 1.3333333333333333, 1.6666666666666667, 2.0, 2.3333333333333335, 2.6666666666666665, 3.0, 3.3333333333333335, 3.6666666666666665, 4.0, 4.333333333333333, 4.666666666666667, 5.0, 5.333333333333333, 5.666666666666667, 6.0, 6.333333333333333, 6.666666666666667, 7.0, 7.333333333333333, 7.666666666666667, 8.0, 8.333333333333334, 8.666666666666666, 9.0, 9.333333333333334, 9.666666666666666]
[0, 9, 36, 81, 144, 225, 324, 441, 576, 729]
[12, 14, 16, 18, 20, 22, 24, 26, 28]

**(B)** (1 P) The kinetic energy of a car is given by 

$$E_k(t) = \frac{1}{2} m v^2(t)$$

where the mass of the car  $m$ = 1200 kg and the velocity is given by $v(t) = 2 \cdot t$ (in m/s). We assume that `T_0` is given in seconds.

Calculate the exact kinetic energy **(in kJ!)** $E_{\text{kin}}$ for each time value in the list `T_0`. Round the results to two decimal places and print each value in a new line.

In [12]:
# Params
mass= 1200 #kg

# Functions
def vel(t):
    return 2*t
def E_kin(t):
    Ek=0.5 * mass * (vel(t)**2) / 1000 # kJ
    return round(Ek,2)


for time in T_0:
    print(f'E_kin({round(time,1)}s) = {E_kin(time)} kJ')

E_kin(0.0s) = 0.0 kJ
E_kin(0.3s) = 0.27 kJ
E_kin(0.7s) = 1.07 kJ
E_kin(1.0s) = 2.4 kJ
E_kin(1.3s) = 4.27 kJ
E_kin(1.7s) = 6.67 kJ
E_kin(2.0s) = 9.6 kJ
E_kin(2.3s) = 13.07 kJ
E_kin(2.7s) = 17.07 kJ
E_kin(3.0s) = 21.6 kJ
E_kin(3.3s) = 26.67 kJ
E_kin(3.7s) = 32.27 kJ
E_kin(4.0s) = 38.4 kJ
E_kin(4.3s) = 45.07 kJ
E_kin(4.7s) = 52.27 kJ
E_kin(5.0s) = 60.0 kJ
E_kin(5.3s) = 68.27 kJ
E_kin(5.7s) = 77.07 kJ
E_kin(6.0s) = 86.4 kJ
E_kin(6.3s) = 96.27 kJ
E_kin(6.7s) = 106.67 kJ
E_kin(7.0s) = 117.6 kJ
E_kin(7.3s) = 129.07 kJ
E_kin(7.7s) = 141.07 kJ
E_kin(8.0s) = 153.6 kJ
E_kin(8.3s) = 166.67 kJ
E_kin(8.7s) = 180.27 kJ
E_kin(9.0s) = 194.4 kJ
E_kin(9.3s) = 209.07 kJ
E_kin(9.7s) = 224.27 kJ