# Tutorial 3

# Conditional statemetns

1.  What is the output of the following code?

In [ ]:
a = 1
if a>0:
print(a)

2. Will the following code snippet be executed without errors?

In [ ]:
a=1
if a>0: print(a)

3. ...and this one?

In [ ]:
a=1
print(a) if a>0 else print(0)

4. What will be the output of the following code?

In [ ]:
d = []
if d:
    print(1)
else:
    print(2)

5. Which number(s) will be printed out?

In [ ]:
a = -100

if a>0:
    print(1)
if a%10==0:
    print(2)
else:
    print(3)

6. Which number(s) will be printed out?

In [ ]:
b = 40

if b==0:
    print(2)
elif b%2==0:
    print(3)
elif b%5==0:
    print(4)
else:
    print(4)

7. Which number(s) will be printed out?

In [ ]:
b = 40

if b%10==0:
    print(1)
if b%4==0:
    print(2)
elif b%2==0:
    print(3)
else:
    print(4)

8. Which number(s) will be printed out?

In [ ]:
c = 20

if c<0:
    print(1)
elif c==0:
    print(2)
else:
    print(3)
if c==2*10:
    print(4)
elif c==4*5:
    print(5)
else:
    print(6)

9. Which number(s) will be printed out?

In [ ]:
a = 0
match a:
    case -1:
        print(-1)
    case -2:
        print(-2)
    case 0:
        print(0)
    case 1:
        print(1)
    case 2:
        print(2)

# Loops

10. What will be the output of the following line?

In [ ]:
print(range(0,5))

<details>
  <summary>Click here</summary>
This is because range is a specific data **structure** (not a function!). To display it as standard Python data types, we have to convert it to array. How to convert data types in Python?
    
</details>

In [ ]:
#do data type conversion here
print(range(0,5))

11. What will be printed after execution of the following cell?

In [ ]:
for i in range(5):
    print(i)

12. What other objects can be used for iterations in python?

13. How to print the following structure using loops?

```*****
****
***
**
*
```

In [ ]:
# your code here

14. What is the output of the following code snippet?

In [ ]:
count = 0
while count < 5:
    print(count)
    count = count + 1
    if count == 3:
        break

15. Which numbers will be printed out upon execution of the following cell?

In [ ]:
count = 0
while count < 5:
    if count == 3:
        count = count + 1
        continue
    print(count)
    count = count + 1

16. What is the output of the following code snippet?

In [ ]:
n=3
while True:
    print(n)
    n-=1
    if n<=0:
        break

17. What is the output of the following code snippet?

In [ ]:
for _ in range(5):
    print("Hello!")

# f-strings

18. What will be printed after execution of the following cell?

In [ ]:
a = 1
print(f"I have {a} apple")

19. Does the following code work as well? Note `' '` instead of `" "`

In [ ]:
a = 1
print(f'I have {a} apple')

20. How print a table of radii and corresponding areas (with 2 numbers after decimal point) separated by ``tab``?

In [ ]:
R = [1, 2, 3]
pi = 3.1415

print("R \t Area")
for r in R:
#    print()

21. How to print a table of 

$$\frac{1}{n}  \;\; \frac{1}{n^2} \;\; \frac{1}{n^3}$$

separated by space? Each shoud be printed with only 4 numbers after decimal point.

In [ ]:
numbers = [3, 5, 7, 9, 11]
for n in numbers:
#    print()

## A big task!

In [ ]:
months = {1:'January', 2:'February', 3:'March', 4:'April', 5:'May', 6:'June', 7:'July', 8:'August', 9:'September', 10:'October', 11:'November', 12:'December'}
dates = ['01.11.68', '29.08.02', '08.11.24']

How to print dates in the format `January 1, 1996`?

22. What is the algorithm for solving this task?

In [ ]:
# your code here

<details>
  <summary>Click here</summary>
    
```
for date in dates:
    if int(date[6:])<25:
        year_pr = '20'
        if int(date[6:])<10:
            year_pr = '200'
    else:
        year_pr = '19'
    year_pr
    print(f"{months[int(date[3:5])]} {int(date[0:2])}, {year_pr}{int(date[6:])}")
 ```

</details>

## Next week: **fun**ctions!